<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="display:flex;justify-content:center;align-items: center;flex-direction: column;">
<h1>User</h1>
<div style="color: darkred;font-size: 16px;border: 1px solid darkblue">
    username: {{this.user.username}},
    name: {{this.user.name}},
    password: {{this.user.password}},
    age: {{this.user.age}},
    lastname: {{this.user.lastname}}
    <form action="/users/{{this.userId}}" method="post">
        <button type="submit">Remove</button>
    </form>
</div>
</body>
</html>
